# Build Folders
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Dotnet-specific files
.vscode/
.vscode-test/
.vs/
.nuget/
out/
.vscode/
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Logs
*.log
